html,body{
    width:100vw !important;
    height: 100vh !important;
    overflow-x: hidden;
}


.bg-black-25{
    background-color: rgba(0, 0, 0, 0.25);
}
.bg-light-darker{
    background-color: #eee;
}
.bg-primary-dark{
    background-color: #133167;
}
.w-90{
    width: 90%;
}
.my-opacity-0{
    opacity: 0;
}

.cursor-pointer{
    cursor:pointer !important;
}
.bg-hover-white:hover{
    transition:1s;
    background-color: white !important;
}
.bg-hover-primary:hover{
    transition:1s;
    background-color: var(--bs-primary) !important;
}


.text-hover-dark:hover{
    transition:1s;
    color:black!important;
}

.text-hover-white:hover{
    transition:1s;
    color:white!important;
}


@media (min-width: 992px) {
    .w-lg-75 {
        width: 75% !important;
        min-width: 75% !important;
    }


    .p-lg-8{
        padding-bottom: 8rem !important; ;padding-top: 8rem !important;
    }
    .w-lg-auto{
        width:auto !important;
    }
    .bg-lg-transparent{
        background-color: transparent !important;
    }

    .text-lg-white{
        color:var(--bs-white) !important;
    }
    .text-lg-white:hover{
        color:rgba(255, 255, 255, 0.5) !important;
    }
    .text-lg-white-50{

        color : rgba(255, 255, 255, 0.5) !important;
    }
    .fs-lg-1{
        font-size: 2.5rem;
    }
    .fs-lg-2{
        font-size: 2rem;
    }
    .fs-lg-4{
        font-size: 1.5rem;
    }
    .fs-lg-5{
        font-size: 1.25rem;
    }

}


@media (min-width: 768px) {
    /** {*/
    /*    padding: 0 !important;*/
    /*    margin:0 !important;*/
    /*    box-sizing : border-box !important;*/
    /*}*/


    .display-md-7{
        font-size: 7rem !important;
    }
    .display-md-6{
        font-size: 7rem !important;
    }

    .display-md-1{
        font-size: 5rem !important;
    }
    .p-md-8{
        padding-bottom: 8rem !important; ;padding-top: 8rem !important;
    }
    .w-md-auto{
        width:auto !important;
    }
    .bg-md-transparent{
        background-color: transparent !important;
    }

    .text-md-white{
        color:var(--bs-white) !important;
    }
    .text-md-white:hover{
        color:rgba(255, 255, 255, 0.5) !important;
    }
    .text-md-white-50{

        color : rgba(255, 255, 255, 0.5) !important;
    }
    .fs-md-1{
        font-size: 2.5rem;
    }
    .fs-md-2{
        font-size: 2rem;
    }
    .fs-md-4{
        font-size: 1.5rem;
    }
    .fs-md-5{
        font-size: 1.25rem;
    }

}
